/* TODO Add site wide styles */
:root {
  --error-msg-color: red;
  --error-font-size: 12px
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: auto;
  width: fit-content;
}

fieldset {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.error {
  color: var(--error-msg-color);
  font-size: var(--error-font-size);
  height: 25px;
  width: 220px;
  margin-top: 0px;
  margin-left: 5px;
}

div {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: fit-content;
}

#sign-up-email {
  display: flex;
  flex-direction: row;
}

#staff {
  margin-bottom: 19px;
}
