/* TODO Add site wide styles */
:root {
  --error-msg-color: red;
  --error-font-size: 12px
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  width: fit-content;
}

fieldset {
  display: inline;
}

.error {
  color: var(--error-msg-color);
  font-size: var(--error-font-size);
  height: fit-content;
  width: 220px;
}
